<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                    <% for (help of helps) { %>
                        <article>
                            <a href="/helps/<%= help._id %>">
                                <h2>
                                    <%= help.name %> <%= help.last %>
                                </h2>
                            </article>
                            
                            <% } %>
                        </div>
                        
                    </main>
                    <a href="/helps/new"><button class="fun2">Create new file</button></a>
                    <a href="/user/logout"><button class="fun2">Logout</button></a>
    </body>

</html>
    </body>

</html>