<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <main>
                <div>
                    <article>
                        <h4>First name</h4>
                        <%= help.name %>
                            <h4>Last name </h4>
                            <%= help.last %>
                                <h4>Blood type</h4>
                                <%= help.blood %>
                                    <h4>Date of Birth</h4>
                                    <%= help.birth %>
                                        <h4>Drug Allergies</h4>
                                        <%= help.allergies %>
                                            <h4>Other Allergies</h4>
                                            <%= help.otherAllergies %>
                                                <h4>Medical Conditions</h4>
                                                <%= help.conditions %>
                                                    <h4>Emergency Information</h4>
                                                    <%= help.emergencyName %>
                                                        #<%= help.emergencyNumber %>
                                                            <h4>Do-Not-Resuscitate order</h4>
                                                            <%= help.dnr ? "Please do not use life saving measures. "
                                                                : "Please use life saving measures" %>
                                                                <form action="/helps/<%= help._id %>?_method=Delete"
                                                                    method="post">
                                                                    <input type="submit" value="Delete" />
                                                                </form>
                                                                <a
                                                                    href="/helps/<%= help._id%>/edit"><button>Edit</button></a>

                    </article>

                </div>
            </main>
    </body>

</html>